body{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(108, 166, 81);
}
header{
    background-color: rgb(107, 116, 69);
    height: auto;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-radius: 10px;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(107, 116, 69);
    color: rgb(187, 203, 46);
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    background-color: rgb(107, 116, 69);
    border-radius: 10px;
    height: 50px;
    padding: 10px;
}
h1{
    font-family: "Caveat", cursive;
    color: rgb(187, 203, 46);
    font-size: 120px;
}

h2{
    color: rgb(187, 203, 46);
}
#top-caption{
    text-align: center;
    font-style: normal;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    margin-top: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
th{
    border: 5px solid rgb(131, 151, 5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
td{
    margin: 10px;
    width: 300px;
    height: auto;
    padding: 10px;
    border: 5px solid rgb(131, 151, 5);
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(107, 116, 69);
}
